<!--弹出层-->
<script type="text/javascript" src="/static/common/js/alert.js"></script>

<link rel="stylesheet" href="/static/common/css/userLogin.css"/>
<script type="text/javascript" src="/static/common/js/userLogin.js"></script>
<!--验证文本框信息-->
<script type="text/javascript" src="__STATIC__/common/js/check.js"></script>


<!--回复栏-->
<div class="gbko">

    {empty name="user"}
    <span style="padding: 15px; font-size: 16px;" onclick="EV_modeAlert('login')">登录</span>
    <p class="userLogo"><span><a href="javascript:;"><img src="/upload/qwe.jpg"></a></span></p>
    {else/}
    <p class="userLogo"><span><a href="javascript:;"><img src="{$user['logo']}"></a></span></p>
    <span style='font-size: 18px;padding: 5px;color: #1E9FFF;'><a href="javascript:;">{$user['username']}</a></span>
    <span style='font-size: 18px;color: #1E9FFF;'><a href="javascript:;" onclick="exitLogin()">退出登录</a></span>
    {/empty}

    <textarea class="layui-textarea" id="introduce" style="display: none" name="saying" placeholder="">
留个言呗</textarea>

    {empty name="user"}
    <input class="userid" type="hidden" value="" name="userid"/>
    {else/}
    <input class="userid" type="hidden" value="{$user['id']}" name="userid"/>
    {/empty}
    <input type="hidden" name="reply" value="/admin/share/more"/>
    <input type="hidden" name="note_id" value="{$book.id?$book.id:'0'}"/>
    <p style="padding: 10px; font-size: 16px;"><a href="javascript:;" class="reply">发表评论</a></p>
    <!--登录页面-->
    <form action="/admin/user/login" method="post">

        <div class="right" id="login" style="display: none;">
            <div class="clearAlert"><a href="javascrpt:;" onclick="EV_closeAlert()"><img
                    src="/static/index/images/error.jpg"/></a></div>
            <div class="righttop"> 登录&nbsp;</div>
            <div id="log-form" class="rightmid">
                <div class="log-input-container">
                    <div class="clear" style="font-size:0px;"></div>
                    <div class="log-line log-line-hover" id="rowCacct">
                        <input id="log-cacct" type="text" autocomplete="off" maxlength="34" class="log-input input2"
                               name="login" placeholder="账号">
                        <div class="logIco logIcoCacct">&nbsp;</div>
                    </div>
                    <div class="log-line" id="rowPwd">
                        <input id="log-pwd" type="password" autocomplete="new-password" maxlength="20"
                               class="log-input input2" name="pwd" placeholder="密码">
                        <div class="logIco logIcoPwd">&nbsp;</div>
                    </div>
                    <div id="log-valid-line" class="log-line">
                        <input id="log-valid" type="text" class="log-input input2"
                               style="width:116px; padding-left:12px;"
                               name="verify" placeholder="验证码">
                        <img id="log-valid-img" onclick="verifyImg(this)" class="verify" title="看不清？点击换一张"
                             src="{:url('admin/user/verifyImg')}">
                    </div>
                </div>
                <div id="login-button" class="loginBtn">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</div>
                <div class="clear"></div>

                <div class="login_otherAcct">
                    <span class="login_other">其他帐号登录</span>
                    <a class="login_WeChatI" href="javascript:;" onclick="bindWeChat();" title="微信登录"></a>
                    <a class="login_QQI" href="javascript:;" onclick="bindQQAccount();" title="QQ登录"></a>

                </div>

            </div>
        </div>
    </form>

    <!--评论-->
    {notempty name='message[0]'}
    {volist name='message[0]' id='vo'}
    <div class="message">
        <!--帖子的回复-->
        <div class="user">
            <span><a href="javascript:;"><img src="{$vo.logo}"></a></span>
            <strong>{$vo.username}</strong>
            <span class="createTime">{$vo.create_time}</span>
            <p class="mtext">{$vo.content|html_entity_decode}</p>
        </div>
        {notempty name='message[$vo.id]'}
        <!--楼中楼，帖子中的回复的回复-->
        {volist name='message[$vo.id]' id='vo11'}
        <div class="otherUser">
            <strong>{$vo11.username} </strong>
            <p> {$vo11.content}</p>
        </div>
        {/volist}
        {/notempty}
        <input type="hidden" name="replyid" value="{$vo.id}"/>
        <p class="huifu" onclick="huifu(this)">回复</p>
    </div>
    {/volist}
    {/notempty}
</div>

</div>