<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 商家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:URL('bis/manager/index?id='.$id)}" data-title="商家个人中心" href="javascript:void(0)">商家个人中心</a></li>
                    <li><a data-href="{:URL('bis/deal/index?id='.$id)}" data-title="发布商品" href="javascript:void(0)">发布商品</a></li>
                </ul>
            </dd>

        </dl>

    </div>
</aside>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>