<!--公共的脚本文件-->
<script src="__STATIC__/admin/js/common.js" type="text/javascript"></script>
<!--编辑器-->
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"></script>

<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

<!--文件上传-->
<!--layui插件-->
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/common/layui.js"></script>

<script type="text/javascript" src="__STATIC__/bis/register.js"></script>



