{include file='public/header,public/nav'/}

<div class="container">
    <div class="top-container">
        <div class="mid-area">
            <div class="slide-holder" id="slide-holder">
                <a href="#" class="slide-prev"><i class="slide-arrow-left"></i></a>
                <a href="#" class="slide-next"><i class="slide-arrow-right"></i></a>
                <ul class="slideshow">
                    <li><a href="" class="item-large"><img class="ad-pic"
                                                           src="__STATIC__/index/images/a1ec08fa513d2697b85e74c35dfbb2fb4216d89b.jpg"/></a>
                    </li>
                    <li><a href="" class="item-large"><img class="ad-pic"
                                                           src="__STATIC__/index/images/12312.jpg"/></a>
                    </li>
                    <li><a href="" class="item-large"><img class="ad-pic"
                                                           src="__STATIC__/index/images/63d0f703918fa0ec7c51e2912e9759ee3c6ddb9c.jpg"/></a>
                    </li>
                </ul>
            </div>
            <div class="list-container">

            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="right-ad">
            <ul class="slidepic">
                <li><a><img src="__STATIC__/index/images/72f082025aafa40f9205eb43a364034f79f01968.jpg"/></a></li>
            </ul>
        </div>

    </div>
    <div class="content-container">
        <div class="no-recom-container">
            <div class="floor-content-start">
                {notempty name='dealCategoryInfo'}
                {volist name='dealCategoryInfo' id='vv'}

                <div class="floor-content">
                    <div class="floor-header">
                        <h3>{$vv.name}</h3>
                        <ul class="reco-words">
                            {volist name="se_category[$vv.id]" id='v1' length='3'}
                            <li><a href="/index/lists/index?categoryId={$v1.id}" target="_blank">{$v1['name']}</a></li>
                            {/volist}
                            <li><a href="/index/lists/index?categoryId={$vv.id}" class="no-right-border no-right-padding" target="_blank">全部<span
                                    class="all-cate-arrow"></span></a></li>
                        </ul>
                    </div>
                    <ul class="itemlist eight-row-height">
                        {volist name="BisFoods[$vv['id']]" id='v2' mod='2'}
                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    {if condition='$v2.buy_count gt 6' }
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    {/if}
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">
                                            <span class="white-locate"></span>
                                            {$location[$v2['bis_id']][0]['adress']}
                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        {eq name='mod' value='0'}
                                        <img src="__STATIC__/index/images/Puyh-fyavvsk3679563.jpg"/>
                                            {else}
                                        <img src="__STATIC__/index/images/qeqw.jpg"/>
                                        {/eq}
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="{:url('index/detail/index',['id'=>$v2.id])}" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【{$v2['category_id']}店通用】{$v2['name']}</h4>
                                    </div>
                                    <p>{$v2['notes']}</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>{$v2['current_price']}</span>
                                    <span class="ori-price">价值<span class="price-line">¥<span>{$v2['origin_price']}</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="comment">{$location[$v2['bis_id']][0]['score']}分</span><span class="sold">已售{$v2['buy_count']}</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                </div>
                {/volist}

                {else}
                <p style="color: #ff0000 ;font-size: 30px;">该城市没数据，请选择其它城市</p>


                {/notempty}
            </div>
        </div>
    </div>
</div>

<div class="footer-content">
    <div class="copyright-info">

    </div>
</div>
<!--//引入封装好的js文件-->
<script src="__STATIC__/index/js/common.js"></script>
<script src="__STATIC__/index/js/index.js"></script>

</body>
</html>