{include file="public/header"}
<!--弹出层-->
<script type="text/javascript" src="/static/common/js/alert.js"></script>

<article>
    <div class="container">

        <h2 class="ctitle"><b>留言板</b> <span>勿忘曾经的那个自己 &nbsp&nbsp铭记想成为的那个自己。</span></h2>
        <div class="gbook">
            <div class="about">
                <div id="fountainG">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
                <div class="about_girl"><span><a href="/"><img src="/upload/qwe.jpg"></a></span>
                    <p>你只看到我的技术，却没看到我的通宵。 你有你的需求，我有我的选择。 你嘲笑我技术宅孤独一生，我可怜你只能呆呆站在墙里。 你可以轻视昼夜不分的Coding，但我会证明它至少可以买到xx票。
                        技术宅的路上少不了苦逼和孤独,又怎样，哪怕成不了大神，也要码的漂亮。我是IT男，我为自己代言！</p>
                </div>
            </div>
        </div>
    </div>
    </aside>

    {include file='public/login'/}
</article>

{include file="public/footer"/}